<app-modal [isModalOpen]="isModalOpen()" (closeModal)="onCloseModal()">
  <ng-container modal-cabecalho class="modal-cabecalho">
    <img src="icones/carteira.svg" alt="" />
    <h2 class="text-xl">Adicionar conta</h2>
  </ng-container>

  <form class="form text-md" (ngSubmit)="onSubmit()">
    <label class="label-grupo">
      Banco
      <input
        [(ngModel)]="contaForm.nome"
        class="input"
        type="text"
        name="nome-transacao"
      />
    </label>

    <label class="label-grupo">
      Saldo
      <input
        [(ngModel)]="contaForm.saldo"
        class="input"
        type="number"
        name="valor-transacao"
        min="0.01"
        step="0.01"
        placeholder="R$ 500,00"
        required
      />
    </label>

    <app-botao [disabled]="isDisabled()" class="botao-adicionar-conta"> Adicionar </app-botao>
  </form>
</app-modal>
